<div class="container">
    <div>
       <h2>Ajouter un Nourriture :</h2>
    </div>
    <form >
        <div hidden class="col-sm-2 col-md-2 col-lg-2">
           <label >ID Sport</label>
             <input type="text" [(ngModel)]="newSport.idSport"  name="idSport" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4" >
         <label >Nom Sport</label>
              <input type="text"[(ngModel)]= "newSport.nomSport"name="nomSport" class="form-control">
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
           <label >Prix Sport</label>
              <input type="number" [(ngModel)]= "newSport.prixSport"name="prixSport" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
           <label >Date création</label>
              <input type="date" [(ngModel)]= "newSport.dateCreation" name="dateCreation" class="form-control">
        </div>
         <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Categorie</label>
        <div class="mt-2">
         <select class="form-control form-control-lg" id="idCat" name="idCat"[(ngModel)]="newIdCat">
            <option *ngFor="let cat of categories" [value]="cat.idCat" >
               {{cat.nomCat}}
            </option>
         </select>
        </div> 
            <button type="submit" (click)="addSport()"class="btn btn-success">Ajouter</button>
        
            <div>
               <h3>{{message}}</h3>

            </div>
         </div>
      </form>
</div>
